
 <div [ngClass]="title" >
    
    <button>
        <a href="">HOMEPAGE</a>
    </button>
    
    <h1>COMPONENT TEST PAGE</h1>

</div>
<div class="row containingRow">
  <div [ngClass]="redBoxx">
    <h3>Area to test custom components I want to play around with.</h3>
  </div>
  <div [ngClass]="blackBoxx">
    <!-- Test Area -->
    <!-- <test-panel [test]="testPanelArray"></test-panel> -->

    <custom-button [buttonText]="buttonText"></custom-button>
  </div>
</div>
<!-- git test  2-->
<app-back-end-test></app-back-end-test>

<div>
    <div *ngFor="let x of test">
                <div>{{x}}</div>
        
    </div>
</div>