<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
       <h1 class="col">HOMPAGE PRACTICE</h1> 
      </div>
      <ul class="navbar nav">
        <li class="nav-item"><button [routerLink]="('/home')">HOME</button></li>
        <li><button [routerLink]="('/sign-in')">SIGN-IN</button></li>
        <li><button [routerLink]="('/testing')">TESTING</button></li>
        <li><button [routerLink]="('/videos')">VIDEOS</button></li>
      </ul>
    </div>
</nav>

<div class="container">
    <div class="row"  style="min-height: 600px;">
        <div class="col-lg-6 CenterContent">
            <div style="align-items: center;">
                <img style="max-width: 400px; max-height: 500px;" src="{{combinedClick$ | async}}">
            </div>
        </div>

        <div class="col-lg-6">
                <div class="CenterContent">
                    <button id="first">Button</button>
                    <input type="text" id="second"> 
                </div>
                <p class="CenterContent">See console log</p>
                <div class="CenterContent">
                    <button id="test">idTest </button>
                </div>
                <div class="CenterContent">
                    <button id="test2" class="CenterContent">idTest2</button>
                </div>
                <div class="CenterContent">
                    <button id="test4" class="CenterContent">id Test 4</button>
                </div>
                <br>
                <div class="CenterContent">
                    <button id="test5" class="CenterContent">id Test 5</button>
                </div>

                <div class="CenterContent">
                     <app-validation-message class="CenterContent" [boolEvent]="YesNoTest" [successText]="yes" [failText]="no"></app-validation-message>   
                </div>
    </div>    
</div>
