
<div class="container" style="min-height: 50em;">
    
<div class="row CenterContent">
    <h1 style="margin-top: 10px">SIGN IN</h1>
</div>

<div class="row CenterContent">
    <button [routerLink]="('/home')">HOME</button>
</div>
<br />
<div class="col CenterContent">
<form class="form-group" [formGroup]="loginControl" (ngSubmit)="onSubmit(loginControl.value)" autocomplete="off" novalidate>
   
    <input class="form-group sign-in" formControlName="username" 
    type="text" id="username"
    [ngClass]="{ 'error' : !validateUsername()}">
    <em *ngIf="!validateUsername()">Required</em>

    <label for="username">USERNAME</label> <br />

    <input id="password" class="form-group sign-in" formControlName="password" type="password"
    [ngClass]="{ 'error' : !validatePassword()}">
    <em *ngIf="!validatePassword()">Required</em>
    <label for="password">PASSWORD</label><br />
    <br>
    <button id="Test" class="form-group" style="margin-right: 5px;" type="submit">SIGN-IN</button>
    <button class="form-group" type="button" [routerLink]="('/create-account')">CREATE ACCOUNT</button>
</form>

    
</div>
<br />
<div *ngIf="show" class="row CenterContent">
    <app-validation-message [successText]="successText" 
    [failText]="failureText" [boolEvent]="validationAction$ | async" >
    </app-validation-message>
</div>

